* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----------------start style header-------------------------------------- */

.headerMenu-link {
  color: black;
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
}

.headerMenu-link:hover {
  color: rgba(0, 0, 0, 0.3);
}

.captionAbout {
  color: black;
}

.sortButton {
  display: none;
  border-color: #ffc107;
}

.sort {
  display: block;
  border: 5px solid #ffc107;
  border-top: none;
  width: 0;
  height: 0;
}

.sortDown {
  border-left-color: rgba(0, 0, 0, 0.0);
  border-right-color: rgba(0, 0, 0, 0.0);
  transform: rotate(180deg);
}

.sortUp {
  border-left-color: rgba(0, 0, 0, 0.0);
  border-right-color: rgba(0, 0, 0, 0.0);
}

/* -----------------end style header --------------------------------------- */


/* -----------------start style posts---------------------------------------- */

.mainTitle {
  margin: 10px;
  padding-left: 10px;
}

.userNameToPost {
  display: block;
  font-size: 20px;
}

.cardPost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin: 10px;
}

.cardPostBody {
  width: 80%;
}

.cardPostBody {
  text-align: justify;
}

.cardPostUser {
  width: 20%;
  text-align: center;
}

.figure {
  margin: 0;
}

.buttonPost {
  width: 250px;
}
/* ----------------------end style posts----------------------------------- */


/* ----------------------start style comments-------------------------------- */
.commentsList {
  margin-top: 10px;
  display: block;
  width: 100%;
}

.commentItem {
  border: none;
  padding: 0;
  margin-bottom: 5px;
}

.commentItem:last-child {
  margin-bottom: 0;
}

.commentItem-card {
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 10px;
  margin: 0;
  padding: 10px; 
}
/* ----------------------end style comments------------------------------------- */


/* -----------------------start style users-------------------------------------- */
.userDetails {
  margin: 10px;
  padding: 25px;
}

.userHeader {
  font-size: 25px;
  font-weight: bold;
}

.buttonUserDetails {
  margin: 10px;
  width: 250px;
}
/* -----------------------end style users------------------------------------------ */


/* -----------------------start style about----------------------------------------- */
.cardAbout {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imageAbout {
  width: 250px;
  height: auto;
}

.linkAbout {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}
/* -------------------------end style about-------------------------------------------- */


/* -------------------------start style placeholder ------------------------------------ */

.postPlaceholder {
  width: 80%;
}

.userPlaceholder {
  width: 80%;
}

.buttonUserLoader {
  margin-left: 0;
}
/* --------------------------end style placeholder -------------------------------------- */


/* --------------------------start style @media------------------------------------------ */
@media screen and (max-width: 600px) {
  .dropdownMenu {
    display: none;
  }
  .sortButton {
    display: block;
  }
  .cardPost {
    display: grid;
    grid-template-rows: 2;
    margin: 5px;
  }
  .cardPostBody {
    grid-row: 2;
    padding: 15px;
    padding-top: 0;
    margin: 0;
    text-align: justify;
    width: 100%;
  }
  .cardPostUser {
    grid-row: 1;
    width: 100%;
    text-align: start;
    padding: 15px;
    padding-bottom: 0;
    margin: 0;
  }
  .userNameToPost {
    margin-left: 15px;
    display: inline;
  }

  .cardAbout {
    margin: 10px;
    padding: 10px;
    display: block;
  }
  .imageAbout {
    width: 150px;
    height: auto;
  }
}